
.bandera, .bandera p{
display: block;
height: 20vh;
width: 20%


}
.amarillo{
background-color: yellow;
color: black;
}
.gris{
  background-color: gray;
  color: white;

}
#texto-mayusculas{
  text-transform: uppercase;
}
